PORT=3000
METRICS_PORT=9091
ISSUER_DB_PASSWORD=secret
PROCESSOR_DB_PASSWORD=secret
GRAFANA_PASSWORD=admin
KAFKA_BROKERS=localhost:9092
PG_HOST=localhost
PG_PORT=5432
PG_DB=issuer_db
PG_USER=issuer
PG_PASSWORD=secret
